.blue-border {
  border-width: 0;
  border-top: 5px solid #0e80de;
  border-right: 5px solid #0e80de;
  border-bottom: 5px solid #0e80de;
}

.orange-border {
  border-width: 0;
  border-top: 5px solid #dc6e2b;
  border-right: 5px solid #dc6e2b;
  border-bottom: 5px solid #dc6e2b;
}

.orange-border:hover {
  background-color: #f6dbd5;
}

.blue-border:hover {
  background-color: #d1ebf3;
}

.green-border:hover {
  background-color: #d4eed4;
}


.green-border {
  border-width: 0;
  border-top: 5px solid #35a937;
  border-right: 5px solid #35a937;
  border-bottom: 5px solid #35a937;
}

.orange-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #dc6e2b;
}

.blue-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #0e80de;
}

.green-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #35a937;
}
